<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=tcp:ar8y0oagj1.database.chinacloudapi.cn,1433;Initial Catalog=AzureMediaPortalContext;User Id=AkmiiDBA@ar8y0oagj1; Password=!QAZ2wsx" providerName="System.Data.SqlClient" />
    <add name="AzureMediaPortalContext" connectionString="Data Source=tcp:ar8y0oagj1.database.chinacloudapi.cn,1433; Initial Catalog=aspnet-AzureMediaPortal; User Id=AkmiiDBA@ar8y0oagj1; Password=!QAZ2wsx" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>